<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <title>Sähkön Hinta Nyt</title>
    <!-- Bootstrap CSS -->
     <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
     <link rel="stylesheet" href="/styles/main.css">
     <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2346739354877546"
     crossorigin="anonymous"></script>
</head>
<body >
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Sähkön hinta</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/">Etusivu <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/info">Info <span class="sr-only">(current)</span></a>
            </li>

        </ul>

    </div>

</nav>

<div class="container mt-5">
    <div class="row">
        <div class="col-lg-10"> 



        </div>
        <!-- <div class="row justify-content-center bg-dark text-light p-4"> -->
            <div class="row justify-content-center bg-dark p-4">    
            <div class="col-auto">
                <!-- Text Sections Stacked Vertically -->
                <div class="text-section">

                    <h2>ENTSO-E ja Sähkön Hinta</h2>
                    <br>

                    <p>Sivuston sähköhinnat perustuvat tietoihin, jotka saadaan Entso-E:n (European Network of Transmission System Operators
                        for Electricity) palveluksesta. Entso-E on eurooppalaisten sähkön siirtojärjestelmän operaattoreiden
                        yhteistyöorganisaatio, jonka tavoitteena on varmistaa sähköverkon luotettavuus ja edistää sähkömarkkinoiden
                        integraatiota Euroopassa.
                        <br><br>
                        Sähkön hinnat, joita näet tällä sivulla, heijastavat sähkön tukkumarkkinoiden hintoja. Tukkumarkkinoilla sähkön
                        hinta määräytyy tarjonnan ja kysynnän perusteella. Hinta voi vaihdella tunneittain riippuen siitä, kuinka paljon
                        sähköä tuotetaan ja kuinka paljon sitä kulutetaan. Sähkön tuotanto voi vaihdella päivän aikana ja eri
                        vuodenaikoina, ja se voi perustua erilaisiin lähteisiin, kuten fossiilisiin polttoaineisiin, ydinvoimaan,
                        vesivoimaan, tuuli- ja aurinkovoimaan.
                        <br><br>
                        Hinnat, joita sivusto näyttää, sisältävät 24% arvonlisäveron (ALV), joka on Suomessa käytössä oleva veroaste
                        kuluttajamyyntiin. Tämä tarkoittaa, että ilmoitetut hinnat ovat kuluttajalle lopullisia hintoja, eivätkä ne
                        vaadi lisämaksuja tai -kuluja.
                        <br><br>
                        On tärkeää ymmärtää, että sähkön hinta tukkumarkkinoilla ei ole ainoa tekijä, joka vaikuttaa loppukäyttäjän
                        maksamaan hintaan. Muita tekijöitä ovat muun muassa siirtohinnat, verot ja mahdolliset marginaalit, jotka
                        sähkönmyyjät lisäävät. Entso-E:n tarjoamat tiedot antavat kuitenkin hyvän yleiskuvan markkinoiden
                        hintakehityksestä ja auttavat ymmärtämään sähköenergian hinnanmuodostusta.
                        <br><br>
                        Seuraavan päivän sähkön tukkumarkkinahinnat julkaistaan yleensä edellisenä päivänä. Tarkka julkaisuaika
                        voi vaihdella markkina-alueesta riippuen, mutta Euroopassa ja erityisesti Pohjoismaiden sähkömarkkinoilla
                        (Nord Pool -sähköpörssissä) seuraavan päivän hinnat julkaistaan tyypillisesti iltapäivällä. Esimerkiksi Nord
                        Pool -sähköpörssissä seuraavan päivän spot-hinnat (eli päivän sisäiset tukkuhinnat) julkaistaan noin kello
                        12.00-14.00 CET (Keski-Euroopan aikaa) välillä.
                        <br><br>
                        Julkaisuaika riippuu sähkömarkkinoiden aikatauluista, jotka määrittelevät, milloin tarjoukset seuraavan
                        päivän sähkölle tulee jättää ja milloin lopulliset hinnat lasketaan. Nämä aikataulut on suunniteltu varmistamaan
                        , että markkinatoimijat voivat tehdä perusteltuja päätöksiä perustuen ajantasaiseen tietoon sähkön tarjonnasta
                        ja kysynnästä.
                    </p>
                </div>




            </div>
        </div>
    </div>
</div>
<%- include("partials/footer.ejs") %>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>